<link rel="stylesheet" href="/src/styles/calendar-mini.css">

<div class="calendar-mini">

    <!-- Encabezado -->
    <div class="calendar-mini-header">
        <button class="mini-prev-month" data-action="prev">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <span class="mini-month-title">MES AÑO</span>

        <button class="mini-next-month" data-action="next">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
   

    <!-- Cuadrícula -->
    <div class="calendar-mini-grid">
        <!-- calendar-mini.js rellenará los días -->
    </div>

</div>
